* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0px;
}

.editor {
  display: flex;
  height: 100vh;
}



.drawer {
  padding: 4px;
  margin: 4px;

  border: 1px solid black;
  width: 100%;
}

.component-small {
  padding: 4px;
  border-radius: 5%;
  border: 1px solid black;
  margin: 4px;
  cursor: grab;
}

.right-side-panel {
  padding: 4px;
  margin: 4px;

  border: 1px solid black;
  width: 100%;
  max-width: 360px;
}

.widget-property-item {
  padding: 8px;
}

.widget-property-item>label {
  display: block;
  margin-bottom: 4px;
}

.widget-property-item>input {
  width: 100%;
  height: 32px;
  font-size: 18px;
}