* {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 0px;
}

.editor {
  display: flex;
  height: 100vh;
}



.drawer {
  width: 100%;
}




.widget-property-item {
  padding: 8px;
}

.widget-property-item>label {
  display: block;
  margin-bottom: 4px;
}

.widget-property-item>input {
  width: 100%;
  height: 32px;
  font-size: 18px;
}