* {
  box-sizing: border-box;
}
.editor {
  display: flex;
  height: 100vh;
}

.component-list {
  padding: 4px;
  margin: 4px;
  border: 1px solid black;
}

.drawer {
  padding: 4px;
  margin: 4px;

  border: 1px solid black;
  width: 100%;
}

.component-small {
  padding: 4px;
  border-radius: 5%;
  border: 1px solid black;
  margin: 4px;
  cursor: grab;
}